# Important DataFrame Methods

In [2]:
!mamba install pandas

mambajs 0.19.13

Specs: xeus-python, numpy, matplotlib, pillow, ipywidgets>=8.1.6, ipyleaflet, scipy, pandas
Channels: emscripten-forge, conda-forge

Solving environment...
Solving took 3.217 seconds
  Name                          Version                       Build                         Channel
────────────────────────────────────────────────────────────────────────────────────────────────────────────────────────
+ pandas                        3.0.1                         np22py313h9d9dc1e_0           emscripten-forge
+ python-tzdata                 2025.3                        pyhd8ed1ab_0                  conda-forge
- pip                           25.3                          pyh145f28c_0                  conda-forge

In [3]:
import numpy as np
import pandas as pd

## value_counts

In [3]:
marks= pd.read_csv('Student_Marks.csv')
marks.value_counts()

number_courses  time_study  Marks
3               4.508       19.202    1
4               0.096       7.734     1
                3.133       13.811    1
6               7.909       53.018    1
8               7.811       55.299    1
                                     ..
6               3.561       19.128    1
3               0.301       5.609     1
4               7.163       41.444    1
7               0.309       12.027    1
3               6.335       32.357    1
Name: count, Length: 100, dtype: int64

In [4]:
bolly= pd.read_csv('BollywoodActorRanking.csv')
bolly.value_counts()

actorId  actorName         movieCount  ratingSum  normalizedMovieRank  googleHits  normalizedGoogleRank  normalizedRating
373      Aamir Khan        11          1170       9.44862              2460000     7.34283               10.00000            1
374      Shah Rukh Khan    23          2000       7.55009              2670000     7.88458               9.22674             1
375      Salman Khan       36          2340       5.40217              3490000     10.00000              9.20821             1
376      Katrina Kaif      17          1640       8.48082              2120000     6.46570               8.94852             1
377      Deepika Padukone  16          1080       5.64674              3000000     8.73591               8.62716             1
                                                                                                                            ..
604      Milind Gunaji     10          200        1.00000              24300       1.05926               1.60370             1
605      Sudesh Berry      6           120        1.00000              16100       1.03810               1.59165             1
606      Rajit Kapoor      6           120        1.00000              15900       1.03759               1.59135             1
607      Nassar Abdulla    6           120        1.00000              7290        1.01538               1.57869             1
608      Snehal Dabi       7           140        1.00000              1330        1.00000               1.56993             1
Name: count, Length: 189, dtype: int64

## sort values

In [5]:
(bolly['ratingSum'].value_counts()+  bolly['actorId'].value_counts()).sort_values(ascending= False)

ratingSum
400     8.0
380     4.0
450     4.0
500     4.0
390     3.0
       ...
2140    NaN
2200    NaN
2320    NaN
2340    NaN
2950    NaN
Name: count, Length: 377, dtype: float64

In [6]:
bolly.sort_values('actorName')

,actorId,actorName,movieCount,ratingSum,normalizedMovieRank,googleHits,normalizedGoogleRank,normalizedRating
0,373,Aamir Khan,11,1170,9.44862,2460000,7.34283,10.00000
204,577,Aarti Chhabria,5,120,1.39130,116000,1.29582,1.96154
170,543,Aashish Chaudhary,9,290,2.19565,28900,1.07112,2.29190
278,651,Abhay Bhargav,4,80,1.00000,0,NaN,1.00000
146,519,Abhay Deol,11,350,2.15613,193000,1.49447,2.51065
...,...,...,...,...,...,...,...,...
229,602,Yash Tonk,5,160,2.17391,0,NaN,1.66905
180,553,Yashpal Sharma,10,300,1.97826,43200,1.10802,2.18903
297,670,Yuvika Chaudhry,5,100,1.00000,0,NaN,1.00000
195,568,Zakir Hussain,10,210,1.09783,312000,1.80146,2.08246
107,480,Zayed Khan,14,450,2.18789,462000,2.18843,2.92426

In [7]:
movies = pd.read_csv('BollywoodMovieDetail.csv')
movies_sorted = movies.sort_values(['title', 'releaseYear'], ascending=[True, False])
movies_sorted

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
406,tt0473567,...Yahaan,2005,29 Jul 2005,Romance,Sameer Kohli | Mahesh (screenplay) | Mahesh (s...,Jimmy Shergill | Minissha Lamba | Yashpal Shar...,Shoojit Sircar,0.0,1
732,tt1385824,13B: Fear Has a New Address,2009,06 Mar 2009,Drama | Horror | Mystery,Abhinav Kashyap (dialogue) | Vikram K. Kumar,Madhavan | Neetu Chandra | Poonam Dhillon | Sa...,Vikram K. Kumar,0.0,2
74,tt0313844,16 December,2002,22 Mar 2002,Action | Drama | Mystery,Mani Shankar (dialogue) | Mani Shankar (screen...,Danny Denzongpa | Gulshan Grover | Milind Soma...,Mani Shankar,0.0,4
700,tt1301698,1920,2008,12 Sep 2008,Drama | Horror | Mystery,Vikram Bhatt (screenplay) | Vikram Bhatt (stor...,Rajneesh Duggal | Adah Sharma | Anjori Alagh |...,Vikram Bhatt,0.0,4
1048,tt2222550,1920: Evil Returns,2012,02 Nov 2012,Drama | Horror | Romance,Vikram Bhatt,Vicky Ahuja | Tia Bajpai | Sharad Kelkar | Vid...,Bhushan Patel,1.0,5
...,...,...,...,...,...,...,...,...,...,...
789,tt1562872,Zindagi Na Milegi Dobara,2011,15 Jul 2011,Adventure | Comedy | Drama,Farhan Akhtar (dialogue) | Zoya Akhtar (story)...,Katrina Kaif | Hrithik Roshan | Naseeruddin Sh...,Zoya Akhtar,0.0,6
1015,tt2164702,Zindagi Tere Naam,2012,16 Mar 2012,Romance,Sanjay Masoom,Mithun Chakraborty | Ranjeeta Kaur | Sajid Ali...,Ashu Trikha,0.0,1
806,tt1605790,Zokkomon,2011,22 Apr 2011,Action | Adventure | Drama,Javed Akhtar (lyrics) | Satyajit Bhatkal (stor...,Anupam Kher | Manjari Phadnis | Tinnu Anand | ...,Satyajit Bhatkal,0.0,1
770,tt1479857,Zor Lagaa Ke... Haiya!,2009,12 Jun 2009,Comedy | Drama | Family,NaN,Meghan Jadhav | Mithun Chakraborty | Riya Sen ...,Girish Girija Joshi,0.0,1
10,tt0255713,Zubeidaa,2001,19 Jan 2001,Adventure | Biography | Drama,Khalid Mohamed (original story and screenplay)...,Karisma Kapoor | Rekha | Manoj Bajpayee | Raji...,Shyam Benegal,0.0,1

## Ranks

In [8]:
batsman= pd.read_csv('most_runs_in_ipl.csv')
batsman

,Rank,Player,Team,Runs,4s,6s,Mat,Innings,Highest,100s,50s,Avg,SR
0,1,Virat Kohli,RCB,6624,578,218,223,215,113,5,44,36.20,129.15
1,2,Shikhar Dhawan,PBKS,6244,701,136,206,205,106*,2,47,35.08,126.35
2,3,David Warner,DC,5881,561,211,162,162,126,4,54,42.01,140.69
3,4,Rohit Sharma,MI,5879,519,240,227,222,109*,1,40,30.30,129.89
4,5,Suresh Raina,CSK,5528,506,203,205,200,100*,1,39,32.52,136.76
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,71,Deepak Hooda,LSG,1236,77,56,95,75,64,0,7,20.26,132.05
71,72,Ruturaj Gaikwad,CSK,1207,113,43,36,36,101*,1,10,37.72,130.35
72,73,Kedar Jadhav,SRH,1196,101,40,93,80,69,0,4,22.15,123.17
73,74,Irfan Pathan,GL,1139,87,37,103,82,60,0,1,21.49,120.40
74,75,Axar Patel,DC,1135,67,54,122,88,44,0,0,19.24,128.83

In [9]:
batsman['Innings'].rank()
batsman.head()

,Rank,Player,Team,Runs,4s,6s,Mat,Innings,Highest,100s,50s,Avg,SR
0,1,Virat Kohli,RCB,6624,578,218,223,215,113,5,44,36.20,129.15
1,2,Shikhar Dhawan,PBKS,6244,701,136,206,205,106*,2,47,35.08,126.35
2,3,David Warner,DC,5881,561,211,162,162,126,4,54,42.01,140.69
3,4,Rohit Sharma,MI,5879,519,240,227,222,109*,1,40,30.30,129.89
4,5,Suresh Raina,CSK,5528,506,203,205,200,100*,1,39,32.52,136.76

## Apply Method

In [10]:
points= pd.DataFrame(
    {
        '1st point':[(3,4),(-6,5),(0,0),(-10,1),(4,5)],
        '2nd point':[(-3,4),(0,0),(2,2),(10,10),(1,1)]
    }
)
points

  1st point 2nd point
0    (3, 4)   (-3, 4)
1   (-6, 5)    (0, 0)
2    (0, 0)    (2, 2)
3  (-10, 1)  (10, 10)
4    (4, 5)    (1, 1)

In [11]:
def euclidean(row):
    pt_A = row['1st point']
    pt_B = row['2nd point']

    return ((pt_A[0]-pt_B[0])**2 + (pt_A[1]-pt_B[1])**2) ** 0.5

In [12]:
points['distance'] = points.apply(euclidean, axis=1)
points

  1st point 2nd point   distance
0    (3, 4)   (-3, 4)   6.000000
1   (-6, 5)    (0, 0)   7.810250
2    (0, 0)    (2, 2)   2.828427
3  (-10, 1)  (10, 10)  21.931712
4    (4, 5)    (1, 1)   5.000000

## Drop Method

### drop on Series

In [13]:
temp = pd.Series([2,3,4,6,8,11,13,15])
temp

0     2
1     3
2     4
3     6
4     8
5    11
6    13
7    15
dtype: int64

In [14]:
temp.drop(2)

0     2
1     3
3     6
4     8
5    11
6    13
7    15
dtype: int64

In [15]:
temp.drop(index =[0,6])

1     3
2     4
3     6
4     8
5    11
7    15
dtype: int64

### drop on DataFrame

In [16]:
marks

    number_courses  time_study   Marks
0                3       4.508  19.202
1                4       0.096   7.734
2                4       3.133  13.811
3                6       7.909  53.018
4                8       7.811  55.299
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[100 rows x 3 columns]

In [17]:
marks.drop(columns= ['Marks'])

    number_courses  time_study
0                3       4.508
1                4       0.096
2                4       3.133
3                6       7.909
4                8       7.811
..             ...         ...
95               6       3.561
96               3       0.301
97               4       7.163
98               7       0.309
99               3       6.335

[100 rows x 2 columns]

In [18]:
marks.drop(index= [1, 3])

    number_courses  time_study   Marks
0                3       4.508  19.202
2                4       3.133  13.811
4                8       7.811  55.299
5                6       3.211  17.822
6                3       6.063  29.889
..             ...         ...     ...
95               6       3.561  19.128
96               3       0.301   5.609
97               4       7.163  41.444
98               7       0.309  12.027
99               3       6.335  32.357

[98 rows x 3 columns]

In [19]:
movies

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
...,...,...,...,...,...,...,...,...,...,...
1279,tt4121522,Shuruaat Ka Interval,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
1280,tt4187650,Trip to Bhangarh,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
1281,tt4190220,Zed Plus,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
1282,tt4219300,Gollu aur Pappu,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
1283,tt4228746,Zid,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

In [20]:
movies.set_index('title').drop(index= ['Albela','Meri Biwi Ka Jawab Nahin'])

,imdbId,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
title,,,,,,,,,
Lagaan: Once Upon a Time in India,tt0169102,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
Hum Tumhare Hain Sanam,tt0222024,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
One 2 Ka 4,tt0227194,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
Devdas,tt0238936,2002,12 Jul 2002,Musical | Romance,Saratchandra Chatterjee (based on the novel by...,Shah Rukh Khan | Madhuri Dixit | Aishwarya Rai...,Sanjay Leela Bhansali,0.0,6
Aap Mujhe Achche Lagne Lage,tt0247911,2002,19 Apr 2002,Action | Drama | Romance,Robin Bhatt (story) | Girish Dhamija (dialogue...,Hrithik Roshan | Ameesha Patel | Kiran Kumar |...,Vikram Bhatt,0.0,2
...,...,...,...,...,...,...,...,...,...
Shuruaat Ka Interval,tt4121522,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
Trip to Bhangarh,tt4187650,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
Zed Plus,tt4190220,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
Gollu aur Pappu,tt4219300,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
Zid,tt4228746,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

## Dropna Method(for removing NaN values)

In [21]:
virat= pd.read_csv('Virat Kohli DataSet.csv')
virat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,12,22,1,0,54.54,2.0,lbw,1,v Sri Lanka,Dambulla,18-Aug-08
1,37,67,6,0,55.22,2.0,caught,2,v Sri Lanka,Dambulla,20-Aug-08
2,25,38,4,0,65.78,1.0,run out,1,v Sri Lanka,Colombo (RPS),24-Aug-08
3,54,66,7,0,81.81,1.0,bowled,1,v Sri Lanka,Colombo (RPS),27-Aug-08
4,31,46,3,1,67.39,1.0,lbw,2,v Sri Lanka,Colombo (RPS),29-Aug-08
...,...,...,...,...,...,...,...,...,...,...,...
127,45,51,2,1,88.23,3.0,caught,2,v New Zealand,Ranchi,26-Oct-16
128,65,76,2,1,85.52,3.0,caught,1,v New Zealand,Visakhapatnam,29-Oct-16
129,122,105,8,5,116.19,3.0,caught,2,v England,Pune,15-Jan-17
130,8,5,2,0,160.00,3.0,caught,1,v England,Cuttack,19-Jan-17
131,55,63,8,0,87.30,3.0,caught,2,v England,Kolkata,22-Jan-17

In [22]:
virat['Dismissal'].dropna()

0          lbw
1       caught
2      run out
3       bowled
4          lbw
        ...
127     caught
128     caught
129     caught
130     caught
131     caught
Name: Dismissal, Length: 132, dtype: str

In [23]:
movies['genre'].dropna()

0                           Romance
1       Adventure | Drama | Musical
2                   Action | Comedy
3                   Drama | Romance
4           Action | Comedy | Drama
                   ...
1277               Comedy | Romance
1278                        Mystery
1280                         Horror
1282                         Comedy
1283                       Thriller
Name: genre, Length: 1282, dtype: str

## Fillna Method(for adding values on NaN)

In [24]:
movies['genre'].fillna('jobayer')

0                           Romance
1       Adventure | Drama | Musical
2                   Action | Comedy
3                   Drama | Romance
4           Action | Comedy | Drama
                   ...
1279                        jobayer
1280                         Horror
1281                        jobayer
1282                         Comedy
1283                       Thriller
Name: genre, Length: 1284, dtype: str

In [25]:
dupp= pd.DataFrame(
    {
        'name': ['jobayer', 'hossen', 'joy', 'hossen'],
        'number': ['30', '35', '44', '35']
    }
)
dupp

      name number
0  jobayer     30
1   hossen     35
2      joy     44
3   hossen     35

In [26]:
dupp.duplicated().sum()

np.int64(1)

In [27]:
dupp[dupp.duplicated()]

     name number
3  hossen     35

## isnull Method

In [28]:
[movies['genre'].isnull()]

[0       False
 1       False
 2       False
 3       False
 4       False
         ...
 1279     True
 1280    False
 1281     True
 1282    False
 1283    False
 Name: genre, Length: 1284, dtype: bool]

In [29]:
movies['genre'][movies['genre'].isnull()]

1279    NaN
1281    NaN
Name: genre, dtype: str

## notnull Method

In [30]:
[movies['genre'].notnull()]

[0        True
 1        True
 2        True
 3        True
 4        True
         ...
 1279    False
 1280     True
 1281    False
 1282     True
 1283     True
 Name: genre, Length: 1284, dtype: bool]

In [31]:
movies.notnull()

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
0,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,False,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
1279,True,True,True,True,False,True,True,True,True,True
1280,True,True,True,True,True,False,True,True,True,True
1281,True,True,True,True,False,True,True,True,True,True
1282,True,True,True,True,True,False,True,True,True,True
1283,True,True,True,True,True,True,True,True,True,True

## sort index

In [37]:
marks= {
    'math': 67 ,
    'physics': 55,
    'chemistry': 76,
    'biology': 60
}
marks_series= pd.Series(marks)
marks_series

math         67
physics      55
chemistry    76
biology      60
dtype: int64

In [39]:
marks_series.sort_index()

biology      60
chemistry    76
math         67
physics      55
dtype: int64

In [41]:
movies.sort_index(ascending= False)

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
1283,tt4228746,Zid,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2
1282,tt4219300,Gollu aur Pappu,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
1281,tt4190220,Zed Plus,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
1280,tt4187650,Trip to Bhangarh,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
1279,tt4121522,Shuruaat Ka Interval,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
...,...,...,...,...,...,...,...,...,...,...
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2

## set index(dataframe)

In [42]:
virat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground,Start Date
0,12,22,1,0,54.54,2.0,lbw,1,v Sri Lanka,Dambulla,18-Aug-08
1,37,67,6,0,55.22,2.0,caught,2,v Sri Lanka,Dambulla,20-Aug-08
2,25,38,4,0,65.78,1.0,run out,1,v Sri Lanka,Colombo (RPS),24-Aug-08
3,54,66,7,0,81.81,1.0,bowled,1,v Sri Lanka,Colombo (RPS),27-Aug-08
4,31,46,3,1,67.39,1.0,lbw,2,v Sri Lanka,Colombo (RPS),29-Aug-08
...,...,...,...,...,...,...,...,...,...,...,...
127,45,51,2,1,88.23,3.0,caught,2,v New Zealand,Ranchi,26-Oct-16
128,65,76,2,1,85.52,3.0,caught,1,v New Zealand,Visakhapatnam,29-Oct-16
129,122,105,8,5,116.19,3.0,caught,2,v England,Pune,15-Jan-17
130,8,5,2,0,160.00,3.0,caught,1,v England,Cuttack,19-Jan-17
131,55,63,8,0,87.30,3.0,caught,2,v England,Kolkata,22-Jan-17

In [58]:
virat.set_index('Start Date', inplace= True)

In [59]:
virat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground
Start Date,,,,,,,,,,
18-Aug-08,12,22,1,0,54.54,2.0,lbw,1,v Sri Lanka,Dambulla
20-Aug-08,37,67,6,0,55.22,2.0,caught,2,v Sri Lanka,Dambulla
24-Aug-08,25,38,4,0,65.78,1.0,run out,1,v Sri Lanka,Colombo (RPS)
27-Aug-08,54,66,7,0,81.81,1.0,bowled,1,v Sri Lanka,Colombo (RPS)
29-Aug-08,31,46,3,1,67.39,1.0,lbw,2,v Sri Lanka,Colombo (RPS)
...,...,...,...,...,...,...,...,...,...,...
26-Oct-16,45,51,2,1,88.23,3.0,caught,2,v New Zealand,Ranchi
29-Oct-16,65,76,2,1,85.52,3.0,caught,1,v New Zealand,Visakhapatnam
15-Jan-17,122,105,8,5,116.19,3.0,caught,2,v England,Pune
19-Jan-17,8,5,2,0,160.00,3.0,caught,1,v England,Cuttack
22-Jan-17,55,63,8,0,87.30,3.0,caught,2,v England,Kolkata

## reset index

In [53]:
virat.reset_index(inplace= True)

In [56]:
virat

,Start Date,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground
0,18-Aug-08,12,22,1,0,54.54,2.0,lbw,1,v Sri Lanka,Dambulla
1,20-Aug-08,37,67,6,0,55.22,2.0,caught,2,v Sri Lanka,Dambulla
2,24-Aug-08,25,38,4,0,65.78,1.0,run out,1,v Sri Lanka,Colombo (RPS)
3,27-Aug-08,54,66,7,0,81.81,1.0,bowled,1,v Sri Lanka,Colombo (RPS)
4,29-Aug-08,31,46,3,1,67.39,1.0,lbw,2,v Sri Lanka,Colombo (RPS)
...,...,...,...,...,...,...,...,...,...,...,...
127,26-Oct-16,45,51,2,1,88.23,3.0,caught,2,v New Zealand,Ranchi
128,29-Oct-16,65,76,2,1,85.52,3.0,caught,1,v New Zealand,Visakhapatnam
129,15-Jan-17,122,105,8,5,116.19,3.0,caught,2,v England,Pune
130,19-Jan-17,8,5,2,0,160.00,3.0,caught,1,v England,Cuttack
131,22-Jan-17,55,63,8,0,87.30,3.0,caught,2,v England,Kolkata

In [57]:
virat.set_index()

,Start Date,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground
0,18-Aug-08,12,22,1,0,54.54,2.0,lbw,1,v Sri Lanka,Dambulla
1,20-Aug-08,37,67,6,0,55.22,2.0,caught,2,v Sri Lanka,Dambulla
2,24-Aug-08,25,38,4,0,65.78,1.0,run out,1,v Sri Lanka,Colombo (RPS)
3,27-Aug-08,54,66,7,0,81.81,1.0,bowled,1,v Sri Lanka,Colombo (RPS)
4,29-Aug-08,31,46,3,1,67.39,1.0,lbw,2,v Sri Lanka,Colombo (RPS)
...,...,...,...,...,...,...,...,...,...,...,...
127,26-Oct-16,45,51,2,1,88.23,3.0,caught,2,v New Zealand,Ranchi
128,29-Oct-16,65,76,2,1,85.52,3.0,caught,1,v New Zealand,Visakhapatnam
129,15-Jan-17,122,105,8,5,116.19,3.0,caught,2,v England,Pune
130,19-Jan-17,8,5,2,0,160.00,3.0,caught,1,v England,Cuttack
131,22-Jan-17,55,63,8,0,87.30,3.0,caught,2,v England,Kolkata

In [60]:
virat

,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Opposition,Ground
Start Date,,,,,,,,,,
18-Aug-08,12,22,1,0,54.54,2.0,lbw,1,v Sri Lanka,Dambulla
20-Aug-08,37,67,6,0,55.22,2.0,caught,2,v Sri Lanka,Dambulla
24-Aug-08,25,38,4,0,65.78,1.0,run out,1,v Sri Lanka,Colombo (RPS)
27-Aug-08,54,66,7,0,81.81,1.0,bowled,1,v Sri Lanka,Colombo (RPS)
29-Aug-08,31,46,3,1,67.39,1.0,lbw,2,v Sri Lanka,Colombo (RPS)
...,...,...,...,...,...,...,...,...,...,...
26-Oct-16,45,51,2,1,88.23,3.0,caught,2,v New Zealand,Ranchi
29-Oct-16,65,76,2,1,85.52,3.0,caught,1,v New Zealand,Visakhapatnam
15-Jan-17,122,105,8,5,116.19,3.0,caught,2,v England,Pune
19-Jan-17,8,5,2,0,160.00,3.0,caught,1,v England,Cuttack
22-Jan-17,55,63,8,0,87.30,3.0,caught,2,v England,Kolkata

In [62]:
virat.reset_index().set_index('Opposition')

,Start Date,Runs,BF,4s,6s,SR,Pos,Dismissal,Inns,Ground
Opposition,,,,,,,,,,
v Sri Lanka,18-Aug-08,12,22,1,0,54.54,2.0,lbw,1,Dambulla
v Sri Lanka,20-Aug-08,37,67,6,0,55.22,2.0,caught,2,Dambulla
v Sri Lanka,24-Aug-08,25,38,4,0,65.78,1.0,run out,1,Colombo (RPS)
v Sri Lanka,27-Aug-08,54,66,7,0,81.81,1.0,bowled,1,Colombo (RPS)
v Sri Lanka,29-Aug-08,31,46,3,1,67.39,1.0,lbw,2,Colombo (RPS)
...,...,...,...,...,...,...,...,...,...,...
v New Zealand,26-Oct-16,45,51,2,1,88.23,3.0,caught,2,Ranchi
v New Zealand,29-Oct-16,65,76,2,1,85.52,3.0,caught,1,Visakhapatnam
v England,15-Jan-17,122,105,8,5,116.19,3.0,caught,2,Pune
v England,19-Jan-17,8,5,2,0,160.00,3.0,caught,1,Cuttack
v England,22-Jan-17,55,63,8,0,87.30,3.0,caught,2,Kolkata

In [63]:
movies

,imdbId,title,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
0,tt0118578,Albela,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
1,tt0169102,Lagaan: Once Upon a Time in India,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
2,tt0187279,Meri Biwi Ka Jawab Nahin,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
3,tt0222024,Hum Tumhare Hain Sanam,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
4,tt0227194,One 2 Ka 4,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
...,...,...,...,...,...,...,...,...,...,...
1279,tt4121522,Shuruaat Ka Interval,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
1280,tt4187650,Trip to Bhangarh,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
1281,tt4190220,Zed Plus,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
1282,tt4219300,Gollu aur Pappu,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
1283,tt4228746,Zid,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

In [66]:
movies.set_index('title', inplace= True)

In [67]:
movies

,imdbId,releaseYear,releaseDate,genre,writers,actors,directors,sequel,hitFlop
title,,,,,,,,,
Albela,tt0118578,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
Lagaan: Once Upon a Time in India,tt0169102,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
Meri Biwi Ka Jawab Nahin,tt0187279,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
Hum Tumhare Hain Sanam,tt0222024,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
One 2 Ka 4,tt0227194,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
...,...,...,...,...,...,...,...,...,...
Shuruaat Ka Interval,tt4121522,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
Trip to Bhangarh,tt4187650,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
Zed Plus,tt4190220,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
Gollu aur Pappu,tt4219300,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
Zid,tt4228746,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

In [70]:
movies.rename(columns= {'writers': 'movie_writers', 'genre': 'movie_genre'})

,imdbId,releaseYear,releaseDate,movie_genre,movie_writers,actors,directors,sequel,hitFlop
title,,,,,,,,,
Albela,tt0118578,2001,20 Apr 2001,Romance,Honey Irani (screenplay) | Honey Irani (story)...,Govinda | Aishwarya Rai Bachchan | Jackie Shro...,Deepak Sareen,0.0,2
Lagaan: Once Upon a Time in India,tt0169102,2001,08 May 2002,Adventure | Drama | Musical,Ashutosh Gowariker (story) | Ashutosh Gowarike...,Aamir Khan | Gracy Singh | Rachel Shelley | Pa...,Ashutosh Gowariker,0.0,6
Meri Biwi Ka Jawab Nahin,tt0187279,2004,02 Jul 2004,Action | Comedy,NaN,Akshay Kumar | Sridevi | Gulshan Grover | Laxm...,Pankaj Parashar | S.M. Iqbal,0.0,1
Hum Tumhare Hain Sanam,tt0222024,2002,24 May 2002,Drama | Romance,K.S. Adiyaman | Arun Kumar (assistant dialogue...,Shah Rukh Khan | Madhuri Dixit | Salman Khan |...,K.S. Adiyaman,0.0,4
One 2 Ka 4,tt0227194,2001,30 Mar 2001,Action | Comedy | Drama,Sanjay Chhel | Raaj Kumar Dahima (screenplay) ...,Shah Rukh Khan | Juhi Chawla | Jackie Shroff |...,Shashilal K. Nair,0.0,1
...,...,...,...,...,...,...,...,...,...
Shuruaat Ka Interval,tt4121522,2014,15 Aug 2014,NaN,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,Kaivalya Chheda | Rajsekhar Aningi | Avidant B...,Aarti S. Bagdi | Amrit Raj Gupta | Krishan Hoo...,0.0,1
Trip to Bhangarh,tt4187650,2014,28 Aug 2014,Horror,NaN,Manish Choudhary | Suzanna Mukherjee | Poonam ...,Jitendra Pawar,0.0,1
Zed Plus,tt4190220,2014,28 Nov 2014,NaN,Chandra Prakash Dwivedi (screen play and dialo...,Adil Hussain | Ekavali Khanna | Kulbhushan Kha...,Chandra Prakash Dwivedi,0.0,1
Gollu aur Pappu,tt4219300,2014,21 Nov 2014,Comedy,NaN,Vir Das | Sandeepa Dhar | Rahul Handa | Dimple...,Kabir Sadanand,0.0,1
Zid,tt4228746,2014,28 Nov 2014,Thriller,Vivek Agnihotri | Rohit Malhotra,Shradha Das | Mohan Kapoor | Mannara | Karanvi...,Rohit Malhotra | Anubhav Sinha,0.0,2

## unique and nunique

In [4]:
s = pd.Series([1, 2, 2, 3, 3, 3])
s.unique()

array([1, 2, 3], dtype=int64)

In [5]:
s.nunique()

3